<h1>Stupid Coaching (ask)</h1>
<form action="/answer">
  <label for="question">your question :</label> <br>
  <input type="text" name="question" placeholder="what is your question ?">
  <input type="submit" value="Ask!">
</form>

